* {
    font-family: Arial;
}

h1, h2 {
    text-align: center;
}

a {
    font-size: larger;
    color: white;
    background-color: gray;
    text-decoration: none;
    display: block;
    padding: 20px;
}

p {
    font-size: 17px;
}
